.appContainer {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
body, html, main, .appContainer {
  height: 100%;
}
